* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 200px;
    height: 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* margin: 2px;
    height: 100px;
    top: 40px;
    left: 0;
    width: 100%; */
}

.icones {
    width: 100px;
    display: inline-block;
    justify-content: space-between;
    align-items: right;
    margin-top: 5px;
    text-align: center;
}

.todos {
    display: flex;
    justify-content: space-between;
    background-image: url(/fundo.jpeg);
    width: 100%;
}

.slaide{
    width: 100%;
}

.amaciante{
    margin: 10px;
}

.produtos{
    width: 100%;
}

#titulo, #preco{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.botao{
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.botao:hover{
    background-color: rgba(0, 128, 0, 0.758);
}